/* .dsmeta-red-btn-container {
    display: flex;
    justify-content: center;
} */

.dsmeta-red-btn {
    height: 45px;
    width: 45px;
    border: 1px solid #FF6B72;
    border-radius: 10px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

.dsmeta-red-btn img {
    width: 19px;
}